.EditProfile {

  h3 form button.mt-3.btn.btn-sm.btn-block.mb-3 {
    background-color: #026E00 !important;
  }

  .buttonEditProfile {
    background-color:#026E00;
    color: #FFFFFF;
  }

  .buttonEditClose {
    background-color:#026CAE;
    color: #FFFFFF;
  }

}