/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: EditProfile.scss, Styles for edit user profile component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.EditProfile {
  .inputEdit {
    border: 1px solid black;
    border-radius: unset;
  }

  .btnEdit {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
  }

  .inputEdit:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .btnEdit:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
}