.ArticleCard {
  .card {
    background-color: transparent;
    border: none;

    overflow: visible;
  }

  .card-body {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .card-body:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


}
