/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: ProductRow.scss, Styles for product's row, the part of Products component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */


.ProductRow {
  .imageYourGame {
    width: 250px;
    height: 150px;
  }

  .card-body {
    padding: 0;
  }

  .btnAddGame {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
    width: 150px;
  }

  .btnAddGame:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }


  @media all and (max-width: 991px) {
    .imageYourGame {
      width: 100px;
      height: 60px;
    }
  }

  @media all and (max-width: 700px) {
    .imageYourGame {
      width: 300px;
      height: 150px;
    }
  }
}