/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: Footer.scss, Styles for footer component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.Footer {
  .page-footer{
    background-color: #000000;
  }

  .footer-copyright{
    font-size: 13px;
  }

  .line-border {
    border-right: 1px solid white;
  }
}
