/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: ProductCard.scss, Styles for product's card, the part of all games page component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.ProductCard {
  .aBlack{
    color: black;
  }

  .imgBorder {
    border-radius: unset !important;
    border: none;
    height: 191px;
  }

  .cardDiv {
    position: relative;
    min-height: 458px;
  }

  .cardAllGame {
    position: relative;
    height: 360px;
    overflow: hidden;
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }

  .cardAllGame:hover {
    position: absolute;
    z-index: 100;
    height: inherit;
    min-height: 400px;
    overflow: visible;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.5);
  }

  .imageStar{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -1px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }

  div.paragraphV {
    background-color: #ff6e00;
    padding-right: 5px;
    width: 40px;
    //margin-left: -8px;
    margin-top: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  }

  .imgBody{
    border: 1px solid #a5afaf;
  }

  .btnPrice{
    font-weight: bold;
    color: red;
    font-size: large;
    text-decoration: none;
  }
}
