body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif!important;
    background-color: #1D224B!important;
}

img {
    color: beige;
}

/*.my-image {*/
/*body{*/
    /*background-image: url("../image/spiral.jpg");*/
    /*!*background-color: beige;*!*/
    /*!*height: 1000px;*!*/
    /*background-position: center;*/
    /*background-repeat: repeat;*/
    /*background-size: cover;*/
    /*position: relative;*/



/*}*/

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

.my-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige;
}

.fa {
    color: beige;
}

.mid {
    background: rgba(38,28,28,0.5);
}

a.nav-link.h5{
    color: beige;
    tab-size: 20px;
}

.navbar-toggler{
    background-color: beige!important;
}

/*card*/
.card-body{
    background-color: beige;
}
div.card-footer{
    background-color: beige;
}
input.form-control{
    background-color: beige;
}
i.fa.fa-star-o {
    color: orange!important;
    font-size: 20px;
}
.card-text{
    height: 50%!important;
}

/* Log in and Sign Up*/
#login, #signUp{
    margin-top: 12rem;
    margin-bottom: 12rem;
}

#lienLogin, #lienSignUp{
    color: inherit;
}

#lienLogin:hover, #lienSignUp{
    text-decoration: none;
}


