.MessageBox{
  .alert {
    //display: none;
    position:fixed;
    background: white;
    width: 60%;
    top:20%;
    left:20%;
    border: 1px solid lightgray;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .imgWindow {
    width: 30px;
    height: 30px;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
