/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: MessageBox.scss, Styles for message box component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.MessageBox{
  .alert {
    position:fixed;
    background-color: white;
    width: 60%;
    top:20%;
    left:20%;
    border: 3px solid #ff6e00;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .imgWindow {
    width: 30px;
    height: 30px;
  }
}
.MessageBox.showMessage {
  display: block;
  animation-name: fadeIn;
  animation-duration: 2s;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.MessageBox.hideMessage {
  display: none;
  animation-name: fadeOut;
  animation-duration: 2s;
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}


