@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans|Montserrat);
.Header .mid {
  background: rgba(38, 28, 28, 0.85); }

.Header a.nav-link.h5 {
  tab-size: 20px; }

.Header .fa-user-o {
  color: green; }

.Header #linkLogin, .Header #linkSignUp {
  color: inherit; }

.Header #linkLogin:hover, .Header #linkSignUp {
  text-decoration: none; }

.Footer {
  padding: 20px;
  background: #1d1616; }

.LoginPage #LoginPage {
  margin-top: 12rem;
  margin-bottom: 12rem; }

.LoginPage .btn.btn-sm.btn-block.mt-4 {
  background-color: #026E00; }

.SignUp #signUp {
  margin-top: 12rem;
  margin-bottom: 12rem; }

.SignUp .btn.btn-sm.btn-block.mt-3 {
  background-color: #026E00; }

.AllGamesPage #games {
  margin-top: 8rem !important; }

.GamePage #gamePage {
  margin-top: 8rem; }

.GamePage .btnGamePage {
  background-color: #026E00; }

.GamePage #rate {
  font-size: 1.25rem; }

.GamePage .fa-pencil {
  color: black; }

.GamePage #marginCom {
  margin-bottom: 1rem; }

@media only screen and (max-width: 600px) {
  .GamePage #gamePage {
    margin-top: 10rem; } }






.UserPage #hi-bg {
  margin-top: 5.4rem;
  background: linear-gradient(to top, #026E00, #0a568c);
  background-color: #333333 !important;
  border-color: #333333; }

.ArticleCard #cardArticle {
  background-color: transparent;
  border: none;
  overflow: hidden; }

.ArticleCard #bodyArticle {
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.ArticleCard #bodyArticle:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.AllBlogPage #article {
  margin-top: 8rem;
  margin-bottom: 10rem; }

.AllBlogPage hr {
  border-color: #026E00; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #46485a !important; }

a {
  color: black; }

a:hover {
  color: black;
  text-decoration: none; }

p {
  font-family: 'Merriweather Sans', sans-serif; }

.fa {
  color: white; }

i.fa.fa-star-o {
  color: orange !important;
  font-size: 20px; }

.card-text {
  height: 50% !important; }

