.ArticlePage {
  .articlePage {
    margin-top: 8rem;
  }

  .cardArticle {
    background-color: transparent!important;
    border-color: #026E00!important;
  }

  .page-footer {
    margin-top: 10rem;
  }

  .css-adaptive{
    display: block;
    max-width: 100%;
    height: auto;
  }

}