/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: Carousel.scss, Styles for carousel, the part of Game page component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.Carousel {
  .imageMainGame {
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }

  .imageMainGame:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}