/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: AddProduct.scss, Styles for add and edit user product component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.AddProduct{
  .inputAddProduct {
    border: 1px solid black;
    border-radius: unset;
  }

  .inputAddProduct:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .btnAddProduct {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
  }

  .btnAddProduct:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

}