.AllBlogPage {
  #article {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }

  hr {
    border-color: #026E00;;
  }

  @media only screen and (max-width: 600px) {
    #article {
      margin-top: 12rem;
    }
  }
}