#UserPage {

  #hi-bg {
    margin-top: 5.4rem;
    background: linear-gradient(to top, #026E00, #0a568c);
    background-color: #333333 !important;
    border-color: #333333;
  }
  #hi-text {
    margin-top: 10rem;
    margin-left: 5rem;
  }
}