
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Montserrat');

  body {
  margin: 0;
  font-family: 'Montserrat', sans-serif!important;
  background-color: #46485a!important;
  //background-color: #1D224B!important;
}

  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  p {
    font-family: 'Merriweather Sans', sans-serif;
  }

  .fa {
    color: white;
  }

  i.fa.fa-star-o {
    color: orange !important;
    font-size: 20px;
  }

  .card-text {
    height: 50% !important;
  }

//.App{}
