body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #ffffff;
  opacity: 0.9;
}

a:hover {
  color: black;
  text-decoration: none;
}

.fa {
  color: white;
}

.line {
  list-style-type: none;
}

.line div {
  display: inline;
}

.line div a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.line-border {
  border-right: 1px solid black;
}

//.App{}
