/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: Products.scss, Styles for all user products component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.Products {
  .btnAddGame {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
  }

  .btnAddGame:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  #yourGame {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
  }

  .linkArticle {
    color: black;
  }
}