body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #ffffff;
    opacity: 0.9;
}

li.nav-item .nav-link {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* Menu */
header nav.stickytop{
    transform: translateY(0px);
    width: 100%;
    border-radius: 0 0 5px 5px;
}

header nav{
    position: fixed;
    transform: translateY(20px);
    transition: transform .6s, width .6s;
    border-radius: 5px;
    width: calc(100% - 60px);
    left: auto;
    margin: 0 auto;

}

.navbar{
    padding: 2px!important;
    padding-right: 2rem!important;
    padding-left: 2rem!important;
}

.btnSearch {
    background-color: unset;
    border: none;
    cursor: pointer;
}

.inputSearch {
    display: none;
    background-color: unset;
    border: none;
    border-bottom: 1px solid gray;
    width: 22rem;
}

#dropdownMenu i.fa.fa-user-plus{
    color: #000000;
    font-size: 23px;

}

.fa {
    color: white;
}

.mid {
    background: rgba(0,0,0,1);
}

a.nav-link.h5 {
    tab-size: 20px;
}

.card-text{
    height: 50%!important;
}

img.searchImg {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-right: 2rem;
}

a #loupe:focus{
    width: 70%;
}

/*basket in menu*/
.imgBasket {
    margin-bottom: 8px;

}

.basketNumber{
    margin-bottom: -22px;
    margin-left: 11px;
    color: red;
    font-weight: bold ;
}
@media only screen and (min-width: 769px) {
    .imgBasket {
        margin-left: 16px;
    }
    .basketNumber {
        margin-left: 27px;
    }
}


/* Log in and Sign Up*/
#login, #signUp{
    font-size: 10px!important;
}

.dropdown-menu{
    padding-left: 5%!important;
    right:0;
    left: auto;
}

.fa.fa-bars, .fa.fa-search{
    color: black;
    margin-top: 5px ;
}

#lienLogin, #lienSignUp{
    color: inherit;
}

#lienLogin:hover, #lienSignUp{
    text-decoration: none;
}

/* User Page*/
h5 button.mt-5.mr-4.ml-5.btn-block {
    width: 150px;
}

div i.fa.fa-star-o {
    color: #b86607;
}

.btnEditProf {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
}

.btnEditProf:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Edit Profile Page*/
.w-30 {
    width: 35%;
}

input.form-control.mt-3.w-30 {
    display: inline;
!important;
    margin-left: 10px;
}

/* All Games Page */
.imageStar{
    display: block;
    position: absolute;
    margin-top: 5px;
    margin-left: -1px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.btnPrice{
    text-decoration: none;
    color: black;
    font-size: small;
}

.cardAllGame {
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.cardAllGame:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.5);

}

/* Card Product*/
.aBlack{
    color: black;
}
.btnPrice{
    font-weight: bold;
    color: red;
    font-size: large;
}
.product {
    position: relative;
    width: 280px;
    height: 270px;
    background-size: cover;
    background-position: center;
    border-radius: unset !important;
}

.imgBorder {
    border-radius: unset !important;
    border: none;

}
.imgBody{
    border: 1px solid #a5afaf;
}

.inner {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.product:hover .inner{
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: background-color  .7s;
    -ms-transition: background-color .7s;
    transition: background-color .7s;
    box-shadow: 4px 10px 10px rgba(0,0,0,0.5);
}

div.paragraphV {
    background-color: #ff6e00;
    padding-right: 5px;
    width: 40px;
    margin-left: -8px;
    margin-top: 6px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

}

.paragraph {
    display: none;
}

.product:hover .paragraph {
    display: block;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h4.paragraphV {
    color: white;
}

.button {
    display: none;
    background-color: #81836d;
    border-color: #81836d;
    padding: 5px 32px;
    text-decoration: none;
    margin: 4px 2px;
}

.button:hover {
    transition: background-color .7s;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
}

.product:hover .button {
    display: inline-block;
    animation: fadein 1.5s;


}
button.button.mt-5 a{
    color: #ffffff;
}

/* Info */
.infoCard {
    background-color: rgba(211,211,211,0.2);
}

.imgInfo {
    width: 40px;
    height: 40px;
}

.text {
    font-size: 13px;
}

.imgWork {
    width: 100px;
    height: 100px;
}

/* Footer Main Page*/
.page-footer{
    background-color: #000000;
}

.footer-copyright{
    font-size: 13px;
}

footer.page-footer .line-border {
    border-right: 1px solid white;
}

/* Log in Page */
#log {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.inputLog {
    border: 1px solid black;
    border-radius: unset;
}

.btnLog {
    background-color: rgba(211,211,211,0.2);
    border: 1px solid black;
    border-radius: unset;
}

.inputLog:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.btnLog:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.line {
    list-style-type: none;
}

.line div {
    display: inline;
}

.line div a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.line-border {
    border-right: 1px solid black;
}

#footerLog{
    font-size: 13px;
}

/* Sign up Page */
#sign {
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.imgAvatar {
    border: 1px solid black;
    border-radius: unset;
}

.custom-file-label {
    padding-right: 5rem;
}

/* Change Password Page*/
.inputPass {
    border: 1px solid black;
    border-radius: unset;
}

.btnPass {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
}

.inputPass:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btnPass:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Edit Profale Page*/
.inputEdit {
    border: 1px solid black;
    border-radius: unset;
}

.btnEdit {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
}

.inputEdit:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btnEdit:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Game Page */
#gamePage {
    margin-top: 2rem;
}

.imgMain {
    height: 100%;
    max-height: 400px;
    width: auto;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}


.imageMainGame {
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.imageMainGame:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.btnProduct, .btnGameComments {
    background-color: rgba(211,211,211,0.2);
    border: 1px solid black;
    border-radius: unset;
}

.btnProduct {
    margin-left: 1rem;
}

.btnProduct:hover, .btnGameComments:hover {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

#rate {
    font-size: 1.25rem;
}

.fa-star-o {
    color: rgba(0,0,0,0.5);
    font-size: 20px;
}

.price {
    font-weight: bold;
    background-color: orange;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    padding: 5px 10px 5px 10px;
}

.fa-pencil {
    color: black;
}

#marginCom {
    margin-bottom: 1rem;
}

.sectionMostPopular {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.btnViewMore {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: unset;
    height: 3rem;
}

.btnViewMore:hover {
    border: 2px solid black;
    transition: color 0.25s;
}

/* All articles Page */
#article {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.linkArticle {
    color: black;
}

hr {
    border-color: gray;;
}

.cardBodyArticle {
    -moz-transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.cardBodyArticle:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.imageArticle {
    width: 250px;
    height: 150px;
}

/* Article Page */
.articlePage {
    margin-top: 3rem;
}

/* About */
.map {
    height: 400px;
}

/*yourArticle page*/
.btnAddArticle {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
}

.btnAddArticle:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.imageYourArticle {
    width: 100px;
    /*height: 150px;*/
}
#yourArticle {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/*ShoppingCart page*/
#myOrders{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.imageShopCart {
    width: 150px;

}
.btnShopCart{
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
}

.btnShopCart:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}






/* Style mobile */
@media only screen and (min-width: 600px) {
	/* User Page */
    .footerFix {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    /* Header */
    .inputSearch {
        width: 10rem;
    }

    /* Log in and Sign up Pages */
    #log, #sign {
        margin-top: 2rem;
    }

    /* All articles Page */
    #article {
        margin-top: 3rem;
    }

    .imageArticle {
        margin-bottom: 2rem;
        width: 650px;
        height: 250px;
    }
}

