/**
 * Theme: Web Project 2
 * Description: Creating a gaming platform for exchange between players
 * File: ArticleRow.scss, Styles for article's row, the part of Articles component
 * Authors: Oleg Smolovyk, Iana Kravchenko, Svitlana Melnyk
 * Date: October 2018
 */

.ArticleRow {
  .imageYourArticle {
    width: 100px;
  }

  .btnAddArticle {
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid black;
    border-radius: unset;
  }

  .btnAddArticle:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .linkArticle {
    color: black;
  }
}
